.wrapper {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    min-height: 36px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    +.wrapper {
        margin-left: 16px;
    }
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.small {
    min-height: 28px;
    min-width: 88px;
    padding: 0 10px;
}

.large {
    min-width: 168px;
    min-height: 48px;
}

.normal {
    display: flex;
    align-items: center;
    font-weight: 500;
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid #1618231f;
    border-radius: 2px;
    padding: 0 22px;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, .03);
    }
}

.rounded {
    min-width: 90px;
    min-height: 32px;
    font-size: 1.4rem;
    color: #161823bf;
    padding: 0 8px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(22, 24, 35, .12);
    border-radius: 52px;

    &:hover {
        cursor: pointer;
        border-color: rgba(22, 24, 35, .2);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, #0000000f, #0000000f), #FE2C55;
    }
}

.outline {
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover {
        cursor: pointer;
        background-color: rgba(254, 44, 85, 0.06);
    }
}