.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-right-spacer: 52px;
    --size-action-btn: 32px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-header-width);
    padding: 0 24px 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 300px;
}

.search,
.search-result {
    width: 415px;
}

.search {
    position: relative;
    display: flex;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;
    border-radius: var(--search-border-radius);
    padding: 0 0 0 16px;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: var(--input-color);
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown)~.search-btn {
        color: #161823bf;
    }

    input:not(:placeholder-shown)~.clear {
        display: block;
    }

    &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        top: var(--search-top-spacer);
        right: var(--search-right-spacer);
        background-color: #1618231f;
    }

    &:focus-within {
        border: 1.5px solid #16182333;
    }
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: #16182380;
}

.clear,
.loading {
    position: absolute;
    right: var(--search-right-spacer);
    top: 50%;
    transform: translateY(-50%);
    margin: 0 12px;
    font-size: 1.6rem;
    color: #16182357;
}

.clear,
.loading {
    display: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.9rem;
    color: #16182357;

    &:hover {
        cursor: pointer;
        background: #16182308;
    }

    &:active {
        background: #1618230f;
    }
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    width: 25px;
    height: 25px;
    margin-left: 16px;
    padding: 0 4px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    width: var(--size-action-btn);
    height: var(--size-action-btn);
    font-size: 2rem;
    background-color: transparent;
    margin-left: 16px;
    padding: 3px 3px 0 3px;
}

.notifi-icon {
    padding: 0;
}

.user-avatar {
    width: var(--size-action-btn);
    height: var(--size-action-btn);
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
}